extends layout.pug 

block content 
  main.wrapper 
    h1 Welcome to the spendings tracker app!
    br
    br
    a(href="/login") Login
    br
    br
    a(href="/register") Register
    br
    br
    a(href="/todos") Todos