doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/styles/index.css")
    link(rel="stylesheet", href="/static/styles/login.css")
    script(src="/static/js/index.js", defer="defer") 
    title Register
  body 
    main.wrapper 
      div.form-wrapper 
        h1.title Register
        form.credentials(action="/register" method="POST" autocomplete="off") 
          input(type="text" id="username" name="username" required placeholder="Username")
          input(type="password" id="password" name="password" required placeholder="Password")
          input(type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm password")
          div.show-password
            label(for="showPassword") Show password 
            input(type="checkbox" id="showPassword")
          div.buttons
            a(href="/login").link Log in
            button.button REGISTER