extends layout.pug 

block content 
  main.wrapper
    h1 Protected route of #{data.username} 
    ul
      each val in data.spendings
        li
          p #{val.amount + val.currency}
          p #{val.date}
          p #{val.time}
