*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000;
}

#todoForm {
  display: none;
}
#todoForm.show {
  display: block;
}
